<!DOCTYPE html>
	
<!-- 	<head>
		Allison Marino
		<meta name="viewport" content="initial-scale=1">
	</head>
	 -->
  <body>
    <div class="global-container">
    	<div class="main_page_container">
      <header class="main-header">
        <h1 class="main-title">Allison Marino</h1>
        <div class="header-social-media-icons-container">
          <a href="mailto:amarino_us@yahoo.com" class="mail-icon icon"></a>
          <a href="https://github.com/amarino7" class="github-icon icon" target="_blank"></a>
          <a href="http://www.linkedin.com/pub/allison-marino/70/60b/49a/" class="linkedin-icon icon" target="_blank"></a>
          <a href="/assets/Resume.pdf" class="resume-icon icon" target="_blank"></a>
        </div>

        <div class="clear-float"></div>
      </header>

      <div class='main-content-container'>
        <figure class="main-image-container">
          <img class="grayscale main-image" <%= image_tag "profile_pic.jpg" %> />
        </figure>

        <div class="profile-content-container">
          <section>
            <h2>About Me</h2>
           
            <p>With a passion for design, and building cool things, I decided to pursue a long held interest in learning how to code. I enrolled in General Assembly's three-month, full-time web development course to build my skills. I am excited to pursue a career in front-end or full-stack web development and and continue to learn new languages and skills while building great products.
            </p>
            </section>
            <section>
							<h2>Skills</h2>
							<ul><em>Languages:</em> JavaScript, Ruby, HTML, CSS</ul>
							<ul><em>Frameworks:</em> Node.js, Express, Rails, AngularJS</ul>
							<ul><em>Database Tools:</em> PostgreSQL, Sequelize, ActiveRecord</ul>
							<ul><em>Authorization:</em> Passport Local, Bcrypt</ul>
							<ul><em>Testing Frameworks:</em> Mocha, Chai, RSpec</ul>
							<ul><em>Other:</em> Git/GitHub, Heroku, jQuery, Bootstrap</ul>
         		 </section>

        </div><!-- profile-content-container end -->

      </div><!-- main-content-container end -->

      </div><!--main_page_container -->


<!--      <section id="slide-1" class="WhoBrings">
		    <div class="bcg"
		        data-center="background-position: 50% 0px;"
		        data-top-bottom="background-position: 50% -100px;"
		        data-anchor-target="#slide-1">
		        <div class="hsContainer">
		            <div class="hsContent"
		                data-center="opacity: 1"
		                data-106-top="opacity: 0"
		                data-anchor-target="#slide-1 h2">
		            <a href="https://whobrings.herokuapp.com/" target="_blank"><h3>WhoBrings</h3></a>
								<p>Finding a gap in the marketplace, I decided to build a site that allows for event planning with friends, and make sortable and sharable task lists.
								<p>Technologies: Ruby on Rails, jQuery/AJAX, Postgres, Facebook API</p>
		            </div>
		        </div>
		    </div>
		</section> -->

        <!-- <div class="div_bar">
        	<div class="div_text_bar">
        		<a href="https://whobrings.herokuapp.com/" target="_blank"><h3>WhoBrings</h3></a>
						<p>Finding a gap in the marketplace, I decided to build a site that allows for event planning with friends, and make sortable and sharable task lists.
						<p>Technologies: Ruby on Rails, jQuery/AJAX, Postgres, Facebook API</p>
        	</div>
        </div> -->
<!-- 
        <div class="who_brings"> -->
        	<!-- <img src="http://i.imgur.com/NenSOeQ.png"style="max-width:100%;height:auto;">
        </div>

        <div class="div_bar">
	        <div class="div_text_bar">
	        	<!-- <a href="https://insterest.herokuapp.com/" target="_blank"><h3>Insterest</h3></a>
						<p>Collaborated with a group of three people to build a better Instagram website that allows for a search feature which the current Instagram website is currently lacking.  
						<p>Technologies: Ruby on Rails, jQuery/AJAX, Postgres, Instagram API</p> -->
	      <!--   </div>
        </div> -->

       <!--  <div class="insterest_container">
	        <div class="insterest_image_container">
	        </div>
	        <div>
	        <div class="insterest_text_container">
	        	<a href="https://insterest.herokuapp.com/" target="_blank"><h3>Insterest</h3></a>
						<p>Collaborated with a group of three people to build a better Instagram website that allows for a search feature which the current Instagram website is currently lacking.  
						<p>Technologies: Ruby on Rails, jQuery/AJAX, Postgres, Instagram API</p>
						<a href="https://insterest.herokuapp.com/" target="_blank"><h3>https://insterest.herokuapp.com</h3></a>
	        </div>
        </div> -->
       	
       	<div class="container-fluid">
	        <div class="row">
		        	<div class="col-md-12">
				        <div class="whoBrings_container">
				        	<div class="col-md-6">
						        <a href="https://whobrings.herokuapp.com/" target="_blank"><div class="whoBrings_image_container">
						        </div></a>
				        	</div>
				        	<div class="main_project_text_container col-md-5">
										<div class="whoBrings_text_container">
											<h3>WhoBrings</h3><br>
											<p>Finding a gap in the marketplace, I decided to build a site that allows for event planning with friends, and make sortable task lists.</p><br>
											<p><em>Technologies:</em> Ruby on Rails, jQuery/AJAX, PostgreSQL, Facebook API</p><br>
											<a href="https://whobrings.herokuapp.com/" target="_blank"><h4>whobrings.herokuapp.com</h4></a>

										</div>
									</div>
				        </div>
				      </div>
				    </div>
			    </div>

         <div class="row">
	        	<div class="col-md-12">
			        <div class="insterest_container">
			        	<div class="col-md-6">
					        <a href="https://insterest.herokuapp.com/" target="_blank"><div class="insterest_image_container">
					        </div></a>
			        	</div>
			        	<div class="main_project_text_container col-md-5">
									<div class="insterest_text_container">
										<h3>Insterest</h3><br>
										<p>Collaborated with a group of three people to build a better Instagram website that allows for a search feature which the current Instagram website is currently lacking.</p><br> 
										<p><em>Technologies:</em> Ruby on Rails, jQuery/AJAX, PostgreSQL, Instagram API</p><br>
										<a href="https://insterest.herokuapp.com/" target="_blank"><h4>insterest.herokuapp.com</h4></a>
									</div>
								</div>
			        </div>
			      </div>
			    </div>


       <!-- 	<div class="div_bar">
	        <div class="div_text_bar"> -->
	        	
		        	<!-- <a href="https://dry-journey-2728.herokuapp.com/" target="_blank"><h3>Wine11</h3></a>
							<p>Inspired by my love of wine and wine tasting, I wanted one source where I could search for wineries and be able to save them as favorites so I can visit the winery or purchase the wine again.</p><br>
							<p>Technologies: JavaScript, Mapbox API, YELP API, Postgres, Express, Node.js</p>
				 -->
	     <!--    </div>
        </div> -->

        <div class="row">
        	<div class="col-md-12">
		        <div class="wine11_container">
		        	<div class="col-md-6">
			        	<a href="https://dry-journey-2728.herokuapp.com/" target="_blank"><div class="wine11_image_container">
			        	</div></a>
		        	</div>
		        	<div class="main_project_text_container col-md-5">
								<div class="wine11_text_container">
									<h3>Wine11</h3><br>
									<p>Inspired by my love of wine and wine tasting, I wanted one source where I could search for wineries and be able to save them as favorites so I can visit the winery or purchase the wine again.</p><br>
									<p><em>Technologies:</em> JavaScript, Mapbox API, YELP API, PostgreSQL, Express, Node.js</p>
									<a href="https://dry-journey-2728.herokuapp.com/" target="_blank"><h4>dry-journey-2728.herokuapp.com</h4></a>
								</div>
							</div>
		        </div>
		      </div>
		    </div>

    </div>

   <!--  <section id="slide-1" class="homeSlide">
		    <div class="bcg"
		        data-center="background-position: 50% 0px;"
		        data-top-bottom="background-position: 50% -100px;"
		        data-anchor-target="#slide-1">
		        <div class="hsContainer">
		            <div class="hsContent"
		                data-center="opacity: 1"
		                data-106-top="opacity: 0"
		                data-anchor-target="#slide-1 h2">
		                <h2>Fade out elements before <br>they leave viewport</h2>
		            </div>
		        </div>
		    </div>
		</section>

		<section id="slide-2">
    <div class="bcg"
        data-0="background-color:rgb(1,27,59);"
        data-top="background-color:(0,0,0);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2
                    data--200-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-206-top="opacity: 1"
                    data-106-top="opacity: 0"
                    data-anchor-target="#slide-2 h2"
                >
                    Fade me in and out
                </h2>
            </div>
        </div>
    </div>
</section>

<section id="slide-3" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 0px 50%;"
        data-bottom-top="background-position: 0px 40%;"
        data-top-bottom="background-position: -40px 50%;"
        data-anchor-target="#slide-3"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <div class="plaxEl"
                    data-106-top="opacity: 0"
                    data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"
                    data--30p-top="opacity: 1;"
                    data--60p-top="opacity: 0;"
                    data-anchor-target="#slide-3"
                >
                    <h2>Fixed element fading in and out</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="slide-4" class="homeSlide homeSlideTall">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-bottom-top="background-position: 50% 100px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-4"
    >
        <div class="curtainContainer">
            <div class="curtain"
                data-bottom-top="opacity: 0"
                data-106-top="height: 1%; top: -10%; opacity: 0;"
                data-center="height: 100%; top: 0%; opacity: 0.5"
                data-anchor-target="#slide-4"
            ></div>
            <div class="copy"
                data-bottom-top="opacity: 0"
                data--100-bottom="opacity: 0"
                data--280-bottom="opacity: 1;"
                data-280-top="opacity: 1;"
                data-106-top="opacity: 0;"
                data-anchor-target="#slide-4 .copy"
            >
                <h2>Curtain effect while you scroll</h2>
            </div>
 
        </div>
    </div>
</section> -->



<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>


<!-- <script src="https://prinzhorn.github.io/skrollr/dist/skrollr.min.js"></script> -->
 
  </body>

</html>